.cache
.coverage
.coverage.*
.DS_Store
*.egg-info
__pycache__/
*.py[cod]
*.pyc
build/*
dist/*
.eggs/
docs/build/*
htmlcov
smufolib.sublime-project
smufolib.sublime-workspace
smufolib_work_log.txt
smufolib.code-workspace
test_things.py