; Config File for SMufoLib

[font.paths]
directory =
ufo =
metadataJson =
annotationJsonIn =
annotationJsonOut =

[smufl.paths]
directory =
classesJson =
glyphnamesJson =
rangesJson =
bravuraMetadataJson =

[smufl.urls]
directory = https://raw.githubusercontent.com/w3c/smufl/gh-pages/metadata
classesJson = ${directory}/classes.json
glyphnamesJson = ${directory}/glyphnames.json
rangesJson = ${directory}/ranges.json
bravuraMetadataJson = https://raw.githubusercontent.com/steinbergmedia/
        bravura/master/redist/bravura_metadata.json

[color.marks]
mark1 = (0.0, 0.0, 0.0, 0.0)
mark2 =
mark3 =

[color.anchors]
cutOutNE = (0.0, 0.0, 0.0, 0.0)
cutOutNW = (0.0, 0.0, 0.0, 0.0)
cutOutSE = (0.0, 0.0, 0.0, 0.0)
cutOutSW = (0.0, 0.0, 0.0, 0.0)
graceNoteSlashNE = (0.0, 0.0, 0.0, 0.0)
graceNoteSlashNW = (0.0, 0.0, 0.0, 0.0)
graceNoteSlashSE = (0.0, 0.0, 0.0, 0.0)
graceNoteSlashSW = (0.0, 0.0, 0.0, 0.0)
nominalWidth = (0.0, 0.0, 0.0, 0.0)
noteheadOrigin = (0.0, 0.0, 0.0, 0.0)
numeralBottom = (0.0, 0.0, 0.0, 0.0)
numeralTop = (0.0, 0.0, 0.0, 0.0)
opticalCenter = (0.0, 0.0, 0.0, 0.0)
repeatOffset = (0.0, 0.0, 0.0, 0.0)
splitStemDownNE = (0.0, 0.0, 0.0, 0.0)
splitStemDownNW = (0.0, 0.0, 0.0, 0.0)
splitStemUpSE = (0.0, 0.0, 0.0, 0.0)
splitStemUpSW = (0.0, 0.0, 0.0, 0.0)
stemDownNW = (0.0, 0.0, 0.0, 0.0)
stemDownSW = (0.0, 0.0, 0.0, 0.0)
stemUpNW = (0.0, 0.0, 0.0, 0.0)
stemUpSE = (0.0, 0.0, 0.0, 0.0)

[metadata.sizes]
designSize =
sizeRange =

[metadata.engravingDefaults]
arrowShaftThickness =
barlineSeparation =
beamSpacing =
beamThickness =
bracketThickness =
dashedBarlineDashLength =
dashedBarlineGapLength =
dashedBarlineThickness =
hairpinThickness =
legerLineExtension =
legerLineThickness =
lyricLineThickness =
octaveLineThickness =
pedalLineThickness =
repeatBarlineDotSeparation =
repeatEndingLineThickness =
slurEndpointThickness =
slurMidpointThickness =
staffLineThickness =
stemThickness =
subBracketThickness =
textFontFamily = []
textEnclosureThickness =
thickBarlineThickness =
thinBarlineThickness =
tieEndpointThickness =
tieMidpointThickness =
tupletBracketThickness =
