; SMufoLib Configuration
; ----------------------

[request]
encoding = utf-8
warn = true

[metadata.paths]
directory = https://raw.githubusercontent.com/w3c/smufl/gh-pages/metadata/
classes = ${directory}classes.json
glyphnames = ${directory}glyphnames.json
ranges = ${directory}ranges.json
referenceFont = https://raw.githubusercontent.com/steinbergmedia/
        bravura/master/redist/bravura_metadata.json

[metadata.fallbacks]
directory = ./smufolib/metadata/
classes = ${directory}classes.json
glyphnames = ${directory}glyphnames.json
ranges = ${directory}ranges.json
referenceFont = ${directory}bravura_metadata.json

[cli.shortFlags]
attributes = -a
classesData = -C
clear = -x
color = -c
colors = -c
exclude = -e
font = -f
fontData = -F
glyphnamesData = -G
include = -i
includeOptionals = -O
mark = -m
overwrite = -o
rangeData = -r
sourcePath = -S
spaces = -s
targetPath = -T
verbose = -v


[color.marks]
mark1 =
mark2 =
mark3 =

[color.anchors]
cutOutNE =
cutOutNW =
cutOutSE =
cutOutSW =
graceNoteSlashNE =
graceNoteSlashNW =
graceNoteSlashSE =
graceNoteSlashSW =
nominalWidth =
noteheadOrigin =
numeralBottom =
numeralTop =
opticalCenter =
repeatOffset =
splitStemDownNE =
splitStemDownNW =
splitStemUpSE =
splitStemUpSW =
stemDownNW =
stemDownSW =
stemUpNW =
stemUpSE =
