<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>uniE1F0</key>
  <dict>
    <key>uniE1F3</key>
    <integer>-4</integer>
    <key>uniE1F4</key>
    <integer>-4</integer>
    <key>uniE1F5</key>
    <integer>-4</integer>
    <key>uniE1F6</key>
    <integer>-4</integer>
    <key>uniE1F7</key>
    <integer>-4</integer>
    <key>uniE1F8</key>
    <integer>-4</integer>
    <key>uniE1F9</key>
    <integer>-4</integer>
    <key>uniE1FA</key>
    <integer>-4</integer>
    <key>uniE1FB</key>
    <integer>-4</integer>
    <key>uniE1FC</key>
    <integer>80</integer>
    <key>uniE1FD</key>
    <integer>-70</integer>
    <key>uniE1FE</key>
    <integer>-60</integer>
    <key>uniE1FF</key>
    <integer>-100</integer>
    <key>uniE200</key>
    <integer>-160</integer>
    <key>uniE201</key>
    <integer>-60</integer>
    <key>uniE202</key>
    <integer>-100</integer>
    <key>uniE203</key>
    <integer>-130</integer>
  </dict>
  <key>uniE1F1</key>
  <dict>
    <key>uniE1F2</key>
    <integer>-4</integer>
    <key>uniE1F3</key>
    <integer>-4</integer>
    <key>uniE1F4</key>
    <integer>-4</integer>
    <key>uniE1F5</key>
    <integer>-4</integer>
    <key>uniE1F6</key>
    <integer>-4</integer>
    <key>uniE1F7</key>
    <integer>-4</integer>
    <key>uniE1F8</key>
    <integer>-4</integer>
    <key>uniE1F9</key>
    <integer>-4</integer>
    <key>uniE1FA</key>
    <integer>-4</integer>
    <key>uniE1FB</key>
    <integer>-4</integer>
    <key>uniE1FC</key>
    <integer>60</integer>
    <key>uniE1FD</key>
    <integer>-80</integer>
    <key>uniE1FE</key>
    <integer>-100</integer>
    <key>uniE1FF</key>
    <integer>-100</integer>
    <key>uniE200</key>
    <integer>-90</integer>
    <key>uniE201</key>
    <integer>-80</integer>
    <key>uniE202</key>
    <integer>-100</integer>
    <key>uniE203</key>
    <integer>-70</integer>
  </dict>
  <key>uniE1F2</key>
  <dict>
    <key>uniE1F0</key>
    <integer>-4</integer>
    <key>uniE1F1</key>
    <integer>-4</integer>
    <key>uniE1F3</key>
    <integer>-4</integer>
    <key>uniE1F4</key>
    <integer>-4</integer>
    <key>uniE1F5</key>
    <integer>-4</integer>
    <key>uniE1F6</key>
    <integer>-4</integer>
    <key>uniE1F8</key>
    <integer>-4</integer>
    <key>uniE1F9</key>
    <integer>-4</integer>
    <key>uniE1FA</key>
    <integer>-4</integer>
    <key>uniE1FB</key>
    <integer>-4</integer>
    <key>uniE1FC</key>
    <integer>60</integer>
    <key>uniE1FD</key>
    <integer>-70</integer>
    <key>uniE1FE</key>
    <integer>-60</integer>
    <key>uniE1FF</key>
    <integer>-110</integer>
    <key>uniE200</key>
    <integer>-80</integer>
    <key>uniE201</key>
    <integer>-70</integer>
    <key>uniE202</key>
    <integer>-120</integer>
    <key>uniE203</key>
    <integer>-90</integer>
  </dict>
  <key>uniE1F3</key>
  <dict>
    <key>uniE1F0</key>
    <integer>-4</integer>
    <key>uniE1F1</key>
    <integer>-4</integer>
    <key>uniE1F2</key>
    <integer>-4</integer>
    <key>uniE1F3</key>
    <integer>-4</integer>
    <key>uniE1F4</key>
    <integer>-4</integer>
    <key>uniE1F5</key>
    <integer>-4</integer>
    <key>uniE1F6</key>
    <integer>-4</integer>
    <key>uniE1F8</key>
    <integer>-4</integer>
    <key>uniE1F9</key>
    <integer>-4</integer>
    <key>uniE1FA</key>
    <integer>-4</integer>
    <key>uniE1FB</key>
    <integer>-4</integer>
    <key>uniE1FC</key>
    <integer>60</integer>
    <key>uniE1FD</key>
    <integer>-90</integer>
    <key>uniE1FE</key>
    <integer>-80</integer>
    <key>uniE1FF</key>
    <integer>-120</integer>
    <key>uniE200</key>
    <integer>-70</integer>
    <key>uniE201</key>
    <integer>-60</integer>
    <key>uniE202</key>
    <integer>-130</integer>
    <key>uniE203</key>
    <integer>-80</integer>
  </dict>
  <key>uniE1F4</key>
  <dict>
    <key>uniE1F0</key>
    <integer>-4</integer>
    <key>uniE1F2</key>
    <integer>-4</integer>
    <key>uniE1F3</key>
    <integer>-4</integer>
    <key>uniE1F4</key>
    <integer>-4</integer>
    <key>uniE1F5</key>
    <integer>-4</integer>
    <key>uniE1F6</key>
    <integer>-4</integer>
    <key>uniE1F8</key>
    <integer>-4</integer>
    <key>uniE1F9</key>
    <integer>-4</integer>
    <key>uniE1FA</key>
    <integer>-4</integer>
    <key>uniE1FB</key>
    <integer>-4</integer>
    <key>uniE1FC</key>
    <integer>60</integer>
    <key>uniE1FD</key>
    <integer>-80</integer>
    <key>uniE1FE</key>
    <integer>-70</integer>
    <key>uniE1FF</key>
    <integer>-120</integer>
    <key>uniE200</key>
    <integer>-70</integer>
    <key>uniE201</key>
    <integer>-70</integer>
    <key>uniE202</key>
    <integer>-110</integer>
    <key>uniE203</key>
    <integer>-90</integer>
  </dict>
  <key>uniE1F5</key>
  <dict>
    <key>uniE1F0</key>
    <integer>-4</integer>
    <key>uniE1F1</key>
    <integer>-4</integer>
    <key>uniE1F2</key>
    <integer>-4</integer>
    <key>uniE1F3</key>
    <integer>-4</integer>
    <key>uniE1F4</key>
    <integer>-4</integer>
    <key>uniE1F5</key>
    <integer>-4</integer>
    <key>uniE1F6</key>
    <integer>-4</integer>
    <key>uniE1F8</key>
    <integer>-4</integer>
    <key>uniE1F9</key>
    <integer>-4</integer>
    <key>uniE1FA</key>
    <integer>-4</integer>
    <key>uniE1FB</key>
    <integer>-4</integer>
    <key>uniE1FC</key>
    <integer>60</integer>
    <key>uniE1FD</key>
    <integer>-80</integer>
    <key>uniE1FE</key>
    <integer>-70</integer>
    <key>uniE1FF</key>
    <integer>-90</integer>
    <key>uniE200</key>
    <integer>-80</integer>
    <key>uniE201</key>
    <integer>-70</integer>
    <key>uniE202</key>
    <integer>-120</integer>
    <key>uniE203</key>
    <integer>-70</integer>
  </dict>
  <key>uniE1F6</key>
  <dict>
    <key>uniE1F0</key>
    <integer>-4</integer>
    <key>uniE1F1</key>
    <integer>-4</integer>
    <key>uniE1F2</key>
    <integer>-4</integer>
    <key>uniE1F3</key>
    <integer>-4</integer>
    <key>uniE1F4</key>
    <integer>-4</integer>
    <key>uniE1F5</key>
    <integer>-4</integer>
    <key>uniE1F6</key>
    <integer>-4</integer>
    <key>uniE1F8</key>
    <integer>-4</integer>
    <key>uniE1F9</key>
    <integer>-4</integer>
    <key>uniE1FA</key>
    <integer>-4</integer>
    <key>uniE1FB</key>
    <integer>-4</integer>
    <key>uniE1FC</key>
    <integer>60</integer>
    <key>uniE1FD</key>
    <integer>-70</integer>
    <key>uniE1FE</key>
    <integer>-70</integer>
    <key>uniE1FF</key>
    <integer>-100</integer>
    <key>uniE200</key>
    <integer>-80</integer>
    <key>uniE201</key>
    <integer>-70</integer>
    <key>uniE202</key>
    <integer>-120</integer>
    <key>uniE203</key>
    <integer>-80</integer>
  </dict>
  <key>uniE1F7</key>
  <dict>
    <key>uniE1F2</key>
    <integer>-4</integer>
    <key>uniE1F3</key>
    <integer>-4</integer>
    <key>uniE1F4</key>
    <integer>-4</integer>
    <key>uniE1F5</key>
    <integer>-4</integer>
    <key>uniE1F6</key>
    <integer>-4</integer>
    <key>uniE1F8</key>
    <integer>-4</integer>
    <key>uniE1F9</key>
    <integer>-4</integer>
    <key>uniE1FA</key>
    <integer>-4</integer>
    <key>uniE1FB</key>
    <integer>-4</integer>
    <key>uniE1FC</key>
    <integer>-230</integer>
  </dict>
  <key>uniE1F8</key>
  <dict>
    <key>uniE1F2</key>
    <integer>-4</integer>
    <key>uniE1F3</key>
    <integer>-4</integer>
    <key>uniE1F4</key>
    <integer>-4</integer>
    <key>uniE1F5</key>
    <integer>-4</integer>
    <key>uniE1F6</key>
    <integer>-4</integer>
    <key>uniE1F8</key>
    <integer>-4</integer>
    <key>uniE1F9</key>
    <integer>-4</integer>
    <key>uniE1FA</key>
    <integer>-4</integer>
    <key>uniE1FB</key>
    <integer>-4</integer>
    <key>uniE1FC</key>
    <integer>-200</integer>
  </dict>
  <key>uniE1F9</key>
  <dict>
    <key>uniE1F2</key>
    <integer>-4</integer>
    <key>uniE1F3</key>
    <integer>-4</integer>
    <key>uniE1F4</key>
    <integer>-4</integer>
    <key>uniE1F5</key>
    <integer>-4</integer>
    <key>uniE1F6</key>
    <integer>-4</integer>
    <key>uniE1F8</key>
    <integer>-4</integer>
    <key>uniE1F9</key>
    <integer>-4</integer>
    <key>uniE1FA</key>
    <integer>-4</integer>
    <key>uniE1FB</key>
    <integer>-4</integer>
    <key>uniE1FC</key>
    <integer>-200</integer>
  </dict>
  <key>uniE1FA</key>
  <dict>
    <key>uniE1F2</key>
    <integer>-4</integer>
    <key>uniE1F3</key>
    <integer>-4</integer>
    <key>uniE1F4</key>
    <integer>-4</integer>
    <key>uniE1F5</key>
    <integer>-4</integer>
    <key>uniE1F6</key>
    <integer>-4</integer>
    <key>uniE1F8</key>
    <integer>-4</integer>
    <key>uniE1F9</key>
    <integer>-4</integer>
    <key>uniE1FA</key>
    <integer>-4</integer>
    <key>uniE1FB</key>
    <integer>-4</integer>
    <key>uniE1FC</key>
    <integer>-200</integer>
  </dict>
  <key>uniE1FB</key>
  <dict>
    <key>uniE1F2</key>
    <integer>-4</integer>
    <key>uniE1F3</key>
    <integer>-4</integer>
    <key>uniE1F4</key>
    <integer>-4</integer>
    <key>uniE1F5</key>
    <integer>-4</integer>
    <key>uniE1F6</key>
    <integer>-4</integer>
    <key>uniE1F8</key>
    <integer>-4</integer>
    <key>uniE1F9</key>
    <integer>-4</integer>
    <key>uniE1FA</key>
    <integer>-4</integer>
    <key>uniE1FB</key>
    <integer>-4</integer>
    <key>uniE1FC</key>
    <integer>-200</integer>
    <key>uniE1FD</key>
    <integer>-4</integer>
  </dict>
  <key>uniE1FC</key>
  <dict>
    <key>uniE1F0</key>
    <integer>80</integer>
    <key>uniE1F1</key>
    <integer>80</integer>
    <key>uniE1F2</key>
    <integer>40</integer>
    <key>uniE1F3</key>
    <integer>40</integer>
    <key>uniE1F4</key>
    <integer>40</integer>
    <key>uniE1F5</key>
    <integer>40</integer>
    <key>uniE1F6</key>
    <integer>40</integer>
  </dict>
  <key>uniE260</key>
  <dict>
    <key>uniE2B0</key>
    <integer>30</integer>
    <key>uniE2B1</key>
    <integer>30</integer>
    <key>uniE2B4</key>
    <integer>20</integer>
    <key>uniE2B6</key>
    <integer>20</integer>
    <key>uniE2B7</key>
    <integer>20</integer>
  </dict>
  <key>uniE262</key>
  <dict>
    <key>uniE2B0</key>
    <integer>40</integer>
    <key>uniE2B1</key>
    <integer>40</integer>
    <key>uniE2B4</key>
    <integer>20</integer>
    <key>uniE2B5</key>
    <integer>40</integer>
    <key>uniE2B6</key>
    <integer>30</integer>
    <key>uniE2B7</key>
    <integer>30</integer>
  </dict>
  <key>uniE2B0</key>
  <dict>
    <key>uniE2B0</key>
    <integer>-30</integer>
  </dict>
  <key>uniE2B1</key>
  <dict>
    <key>uniE2B1</key>
    <integer>40</integer>
  </dict>
  <key>uniE2B2</key>
  <dict>
    <key>uniE2B0</key>
    <integer>-30</integer>
    <key>uniE2B1</key>
    <integer>-40</integer>
    <key>uniE2B2</key>
    <integer>-20</integer>
    <key>uniE2B4</key>
    <integer>-20</integer>
    <key>uniE2B5</key>
    <integer>30</integer>
  </dict>
  <key>uniE2B3</key>
  <dict>
    <key>uniE2B0</key>
    <integer>40</integer>
    <key>uniE2B1</key>
    <integer>40</integer>
    <key>uniE2B3</key>
    <integer>-20</integer>
    <key>uniE2B4</key>
    <integer>40</integer>
    <key>uniE2B5</key>
    <integer>40</integer>
    <key>uniE2B6</key>
    <integer>40</integer>
    <key>uniE2B7</key>
    <integer>40</integer>
    <key>uniF5CF</key>
    <integer>-20</integer>
    <key>uniF5D0</key>
    <integer>-20</integer>
    <key>uniF5D1</key>
    <integer>-20</integer>
    <key>uniF5D2</key>
    <integer>-20</integer>
    <key>uniF5D7</key>
    <integer>-20</integer>
    <key>uniF5D8</key>
    <integer>-20</integer>
    <key>uniF5DB</key>
    <integer>-20</integer>
    <key>uniF5DC</key>
    <integer>-20</integer>
  </dict>
  <key>uniE2B4</key>
  <dict>
    <key>uniE2B0</key>
    <integer>-20</integer>
    <key>uniE2B1</key>
    <integer>-20</integer>
    <key>uniE2B6</key>
    <integer>20</integer>
  </dict>
  <key>uniE2B5</key>
  <dict>
    <key>uniE2B0</key>
    <integer>-20</integer>
    <key>uniE2B1</key>
    <integer>-20</integer>
  </dict>
  <key>uniE2B6</key>
  <dict>
    <key>uniE2B0</key>
    <integer>20</integer>
    <key>uniE2B1</key>
    <integer>20</integer>
  </dict>
  <key>uniE2B7</key>
  <dict>
    <key>uniE2B0</key>
    <integer>20</integer>
    <key>uniE2B1</key>
    <integer>20</integer>
  </dict>
  <key>uniE3F2</key>
  <dict>
    <key>uniE302</key>
    <integer>-62</integer>
    <key>uniE308</key>
    <integer>-62</integer>
    <key>uniE30A</key>
    <integer>-62</integer>
    <key>uniE316</key>
    <integer>-62</integer>
    <key>uniE318</key>
    <integer>-62</integer>
    <key>uniE31E</key>
    <integer>-62</integer>
    <key>uniE324</key>
    <integer>-62</integer>
    <key>uniE326</key>
    <integer>-62</integer>
    <key>uniE32E</key>
    <integer>-62</integer>
    <key>uniE330</key>
    <integer>-62</integer>
    <key>uniE332</key>
    <integer>-62</integer>
    <key>uniE334</key>
    <integer>-62</integer>
    <key>uniE342</key>
    <integer>-62</integer>
    <key>uniE34A</key>
    <integer>-62</integer>
    <key>uniE34E</key>
    <integer>-62</integer>
    <key>uniE356</key>
    <integer>-62</integer>
    <key>uniE35E</key>
    <integer>-62</integer>
    <key>uniE362</key>
    <integer>-62</integer>
    <key>uniE374</key>
    <integer>-62</integer>
    <key>uniE37A</key>
    <integer>-62</integer>
    <key>uniE380</key>
    <integer>-62</integer>
    <key>uniE382</key>
    <integer>-62</integer>
    <key>uniE386</key>
    <integer>-62</integer>
    <key>uniE392</key>
    <integer>-62</integer>
    <key>uniE39C</key>
    <integer>-62</integer>
    <key>uniE39E</key>
    <integer>-62</integer>
    <key>uniE3B8</key>
    <integer>-62</integer>
    <key>uniE3BA</key>
    <integer>-62</integer>
    <key>uniE3C2</key>
    <integer>-62</integer>
    <key>uniE3CC</key>
    <integer>-62</integer>
    <key>uniE3CE</key>
    <integer>-62</integer>
    <key>uniE3E8</key>
    <integer>-62</integer>
    <key>uniE3EA</key>
    <integer>-62</integer>
  </dict>
  <key>uniE3F3</key>
  <dict>
    <key>uniE303</key>
    <integer>-62</integer>
    <key>uniE309</key>
    <integer>-62</integer>
    <key>uniE30B</key>
    <integer>-62</integer>
    <key>uniE317</key>
    <integer>-62</integer>
    <key>uniE319</key>
    <integer>-62</integer>
    <key>uniE31F</key>
    <integer>-62</integer>
    <key>uniE325</key>
    <integer>-62</integer>
    <key>uniE327</key>
    <integer>-62</integer>
    <key>uniE32F</key>
    <integer>-62</integer>
    <key>uniE331</key>
    <integer>-62</integer>
    <key>uniE333</key>
    <integer>-62</integer>
    <key>uniE335</key>
    <integer>-62</integer>
    <key>uniE343</key>
    <integer>-62</integer>
    <key>uniE34B</key>
    <integer>-62</integer>
    <key>uniE34F</key>
    <integer>-62</integer>
    <key>uniE357</key>
    <integer>-62</integer>
    <key>uniE35F</key>
    <integer>-62</integer>
    <key>uniE363</key>
    <integer>-62</integer>
    <key>uniE375</key>
    <integer>-62</integer>
    <key>uniE37B</key>
    <integer>-62</integer>
    <key>uniE381</key>
    <integer>-62</integer>
    <key>uniE383</key>
    <integer>-62</integer>
    <key>uniE387</key>
    <integer>-62</integer>
    <key>uniE393</key>
    <integer>-62</integer>
    <key>uniE39D</key>
    <integer>-62</integer>
    <key>uniE39F</key>
    <integer>-62</integer>
    <key>uniE3B9</key>
    <integer>-62</integer>
    <key>uniE3BB</key>
    <integer>-62</integer>
    <key>uniE3C3</key>
    <integer>-62</integer>
    <key>uniE3CD</key>
    <integer>-62</integer>
    <key>uniE3CF</key>
    <integer>-62</integer>
    <key>uniE3E9</key>
    <integer>-62</integer>
    <key>uniE3EB</key>
    <integer>-62</integer>
  </dict>
  <key>uniE520</key>
  <dict>
    <key>uniE520</key>
    <integer>-31</integer>
  </dict>
  <key>uniE522</key>
  <dict>
    <key>uniE520</key>
    <integer>-110</integer>
    <key>uniE522</key>
    <integer>-117</integer>
    <key>uniE525</key>
    <integer>-101</integer>
    <key>uniE528</key>
    <integer>-100</integer>
    <key>uniE529</key>
    <integer>-100</integer>
    <key>uniE52A</key>
    <integer>-100</integer>
    <key>uniE52B</key>
    <integer>-100</integer>
    <key>uniE549</key>
    <integer>-66</integer>
  </dict>
  <key>uniE523</key>
  <dict>
    <key>uniE522</key>
    <integer>24</integer>
    <key>uniE52F</key>
    <integer>24</integer>
    <key>uniE530</key>
    <integer>24</integer>
    <key>uniE531</key>
    <integer>24</integer>
    <key>uniE532</key>
    <integer>24</integer>
    <key>uniE533</key>
    <integer>24</integer>
  </dict>
  <key>uniE524</key>
  <dict>
    <key>uniE522</key>
    <integer>15</integer>
    <key>uniE530</key>
    <integer>31</integer>
    <key>uniE531</key>
    <integer>31</integer>
    <key>uniE532</key>
    <integer>31</integer>
    <key>uniE533</key>
    <integer>31</integer>
  </dict>
  <key>uniE525</key>
  <dict>
    <key>uniE520</key>
    <integer>-47</integer>
  </dict>
  <key>uniE527</key>
  <dict>
    <key>uniE52F</key>
    <integer>30</integer>
    <key>uniE530</key>
    <integer>30</integer>
    <key>uniE531</key>
    <integer>30</integer>
    <key>uniE532</key>
    <integer>30</integer>
    <key>uniE533</key>
    <integer>20</integer>
  </dict>
  <key>uniE528</key>
  <dict>
    <key>uniE52F</key>
    <integer>30</integer>
    <key>uniE530</key>
    <integer>30</integer>
    <key>uniE531</key>
    <integer>30</integer>
    <key>uniE532</key>
    <integer>30</integer>
    <key>uniE533</key>
    <integer>30</integer>
  </dict>
  <key>uniE529</key>
  <dict>
    <key>uniE52F</key>
    <integer>30</integer>
    <key>uniE530</key>
    <integer>30</integer>
    <key>uniE531</key>
    <integer>30</integer>
    <key>uniE532</key>
    <integer>30</integer>
    <key>uniE533</key>
    <integer>30</integer>
  </dict>
  <key>uniE52A</key>
  <dict>
    <key>uniE52F</key>
    <integer>30</integer>
    <key>uniE530</key>
    <integer>30</integer>
    <key>uniE531</key>
    <integer>30</integer>
    <key>uniE532</key>
    <integer>30</integer>
    <key>uniE533</key>
    <integer>30</integer>
  </dict>
  <key>uniE52B</key>
  <dict>
    <key>uniE52F</key>
    <integer>30</integer>
    <key>uniE530</key>
    <integer>30</integer>
    <key>uniE531</key>
    <integer>30</integer>
    <key>uniE532</key>
    <integer>30</integer>
    <key>uniE533</key>
    <integer>30</integer>
  </dict>
  <key>uniE52D</key>
  <dict>
    <key>uniE549</key>
    <integer>-63</integer>
  </dict>
  <key>uniE52F</key>
  <dict>
    <key>uniE520</key>
    <integer>-100</integer>
    <key>uniE525</key>
    <integer>-102</integer>
    <key>uniE527</key>
    <integer>-90</integer>
    <key>uniE528</key>
    <integer>-90</integer>
    <key>uniE529</key>
    <integer>-90</integer>
    <key>uniE52A</key>
    <integer>-90</integer>
    <key>uniE52B</key>
    <integer>-90</integer>
    <key>uniE549</key>
    <integer>-63</integer>
  </dict>
  <key>uniE530</key>
  <dict>
    <key>uniE520</key>
    <integer>-100</integer>
    <key>uniE525</key>
    <integer>-101</integer>
    <key>uniE527</key>
    <integer>-90</integer>
    <key>uniE528</key>
    <integer>-90</integer>
    <key>uniE529</key>
    <integer>-90</integer>
    <key>uniE52A</key>
    <integer>-90</integer>
    <key>uniE52B</key>
    <integer>-90</integer>
    <key>uniE549</key>
    <integer>-62</integer>
  </dict>
  <key>uniE531</key>
  <dict>
    <key>uniE520</key>
    <integer>-100</integer>
    <key>uniE525</key>
    <integer>-101</integer>
    <key>uniE527</key>
    <integer>-90</integer>
    <key>uniE528</key>
    <integer>-90</integer>
    <key>uniE529</key>
    <integer>-90</integer>
    <key>uniE52A</key>
    <integer>-90</integer>
    <key>uniE52B</key>
    <integer>-90</integer>
    <key>uniE549</key>
    <integer>-63</integer>
  </dict>
  <key>uniE532</key>
  <dict>
    <key>uniE520</key>
    <integer>-100</integer>
    <key>uniE525</key>
    <integer>-102</integer>
    <key>uniE527</key>
    <integer>-90</integer>
    <key>uniE528</key>
    <integer>-90</integer>
    <key>uniE529</key>
    <integer>-90</integer>
    <key>uniE52A</key>
    <integer>-90</integer>
    <key>uniE52B</key>
    <integer>-90</integer>
    <key>uniE549</key>
    <integer>-63</integer>
  </dict>
  <key>uniE533</key>
  <dict>
    <key>uniE520</key>
    <integer>-100</integer>
    <key>uniE525</key>
    <integer>-101</integer>
    <key>uniE527</key>
    <integer>-90</integer>
    <key>uniE528</key>
    <integer>-90</integer>
    <key>uniE529</key>
    <integer>-90</integer>
    <key>uniE52A</key>
    <integer>-90</integer>
    <key>uniE52B</key>
    <integer>-90</integer>
    <key>uniE549</key>
    <integer>-63</integer>
  </dict>
  <key>uniE536</key>
  <dict>
    <key>uniE520</key>
    <integer>-100</integer>
    <key>uniE527</key>
    <integer>-90</integer>
    <key>uniE528</key>
    <integer>-90</integer>
    <key>uniE529</key>
    <integer>-90</integer>
    <key>uniE52A</key>
    <integer>-100</integer>
    <key>uniE52B</key>
    <integer>-100</integer>
  </dict>
  <key>uniE53C</key>
  <dict>
    <key>uniE520</key>
    <integer>-100</integer>
    <key>uniE527</key>
    <integer>-90</integer>
    <key>uniE528</key>
    <integer>-90</integer>
    <key>uniE529</key>
    <integer>-90</integer>
    <key>uniE52A</key>
    <integer>-100</integer>
    <key>uniE52B</key>
    <integer>-100</integer>
  </dict>
  <key>uniE549</key>
  <dict>
    <key>uniE52D</key>
    <integer>-10</integer>
    <key>uniE52F</key>
    <integer>23</integer>
    <key>uniE530</key>
    <integer>24</integer>
    <key>uniE531</key>
    <integer>23</integer>
    <key>uniE533</key>
    <integer>23</integer>
    <key>uniE534</key>
    <integer>20</integer>
  </dict>
  <key>uniE650</key>
  <dict>
    <key>uniE677</key>
    <integer>50</integer>
  </dict>
  <key>uniE651</key>
  <dict>
    <key>uniE677</key>
    <integer>30</integer>
  </dict>
  <key>uniE659</key>
  <dict>
    <key>uniE677</key>
    <integer>40</integer>
  </dict>
  <key>uniE65E</key>
  <dict>
    <key>uniE677</key>
    <integer>50</integer>
  </dict>
  <key>uniE65F</key>
  <dict>
    <key>uniE677</key>
    <integer>50</integer>
  </dict>
  <key>uniE660</key>
  <dict>
    <key>uniE677</key>
    <integer>50</integer>
  </dict>
  <key>uniE676</key>
  <dict>
    <key>uniE659</key>
    <integer>40</integer>
    <key>uniE65E</key>
    <integer>50</integer>
    <key>uniE65F</key>
    <integer>50</integer>
    <key>uniE660</key>
    <integer>50</integer>
  </dict>
  <key>uniE770</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-340</integer>
    <key>uniE7EA</key>
    <integer>-315</integer>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE771</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE772</key>
  <dict>
    <key>uniE773</key>
    <integer>-515</integer>
  </dict>
  <key>uniE773</key>
  <dict>
    <key>uniE772</key>
    <integer>-351</integer>
  </dict>
  <key>uniE774</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-340</integer>
    <key>uniE7EA</key>
    <integer>-315</integer>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE775</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE776</key>
  <dict>
    <key>uniE777</key>
    <integer>-516</integer>
  </dict>
  <key>uniE777</key>
  <dict>
    <key>uniE776</key>
    <integer>-352</integer>
  </dict>
  <key>uniE778</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-340</integer>
    <key>uniE7EA</key>
    <integer>-315</integer>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE779</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE77A</key>
  <dict>
    <key>uniE77B</key>
    <integer>-516</integer>
  </dict>
  <key>uniE77B</key>
  <dict>
    <key>uniE77A</key>
    <integer>-344</integer>
  </dict>
  <key>uniE77C</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-340</integer>
    <key>uniE7EA</key>
    <integer>-315</integer>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE77D</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE77E</key>
  <dict>
    <key>uniE77F</key>
    <integer>-516</integer>
  </dict>
  <key>uniE77F</key>
  <dict>
    <key>uniE77E</key>
    <integer>-352</integer>
  </dict>
  <key>uniE780</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-300</integer>
    <key>uniE7EA</key>
    <integer>-261</integer>
    <key>uniE7EB</key>
    <integer>-260</integer>
  </dict>
  <key>uniE781</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-260</integer>
  </dict>
  <key>uniE782</key>
  <dict>
    <key>uniE783</key>
    <integer>-516</integer>
  </dict>
  <key>uniE783</key>
  <dict>
    <key>uniE782</key>
    <integer>-352</integer>
  </dict>
  <key>uniE784</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-300</integer>
    <key>uniE7EA</key>
    <integer>-250</integer>
    <key>uniE7EB</key>
    <integer>-260</integer>
  </dict>
  <key>uniE785</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-260</integer>
  </dict>
  <key>uniE786</key>
  <dict>
    <key>uniE787</key>
    <integer>-515</integer>
  </dict>
  <key>uniE787</key>
  <dict>
    <key>uniE786</key>
    <integer>-351</integer>
  </dict>
  <key>uniE788</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-340</integer>
    <key>uniE7EA</key>
    <integer>-310</integer>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE789</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE78A</key>
  <dict>
    <key>uniE78B</key>
    <integer>-633</integer>
  </dict>
  <key>uniE78B</key>
  <dict>
    <key>uniE78A</key>
    <integer>-305</integer>
  </dict>
  <key>uniE78C</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-340</integer>
    <key>uniE7EA</key>
    <integer>-310</integer>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE78D</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE78E</key>
  <dict>
    <key>uniE78F</key>
    <integer>-632</integer>
  </dict>
  <key>uniE78F</key>
  <dict>
    <key>uniE78E</key>
    <integer>-305</integer>
  </dict>
  <key>uniE790</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-340</integer>
    <key>uniE7EA</key>
    <integer>-305</integer>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE791</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE792</key>
  <dict>
    <key>uniE793</key>
    <integer>-633</integer>
  </dict>
  <key>uniE793</key>
  <dict>
    <key>uniE792</key>
    <integer>-305</integer>
  </dict>
  <key>uniE794</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-340</integer>
    <key>uniE7EA</key>
    <integer>-304</integer>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE795</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE796</key>
  <dict>
    <key>uniE797</key>
    <integer>-633</integer>
  </dict>
  <key>uniE797</key>
  <dict>
    <key>uniE796</key>
    <integer>-305</integer>
  </dict>
  <key>uniE798</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-350</integer>
  </dict>
  <key>uniE799</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-350</integer>
  </dict>
  <key>uniE79A</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-350</integer>
  </dict>
  <key>uniE79B</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-350</integer>
  </dict>
  <key>uniE79C</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-350</integer>
  </dict>
  <key>uniE79D</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-350</integer>
  </dict>
  <key>uniE79E</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-350</integer>
  </dict>
  <key>uniE79F</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-350</integer>
  </dict>
  <key>uniE7A0</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-350</integer>
  </dict>
  <key>uniE7A1</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-350</integer>
  </dict>
  <key>uniE7A2</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-370</integer>
    <key>uniE7EA</key>
    <integer>-336</integer>
    <key>uniE7EB</key>
    <integer>-330</integer>
  </dict>
  <key>uniE7A3</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-330</integer>
  </dict>
  <key>uniE7A4</key>
  <dict>
    <key>uniE7A5</key>
    <integer>-570</integer>
  </dict>
  <key>uniE7A5</key>
  <dict>
    <key>uniE7A4</key>
    <integer>-352</integer>
  </dict>
  <key>uniE7A6</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-370</integer>
    <key>uniE7EA</key>
    <integer>-330</integer>
    <key>uniE7EB</key>
    <integer>-330</integer>
  </dict>
  <key>uniE7A7</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-330</integer>
  </dict>
  <key>uniE7A8</key>
  <dict>
    <key>uniE7A9</key>
    <integer>-571</integer>
  </dict>
  <key>uniE7A9</key>
  <dict>
    <key>uniE7A8</key>
    <integer>-351</integer>
  </dict>
  <key>uniE7AA</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-370</integer>
    <key>uniE7EA</key>
    <integer>-330</integer>
    <key>uniE7EB</key>
    <integer>-330</integer>
  </dict>
  <key>uniE7AB</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-330</integer>
  </dict>
  <key>uniE7AC</key>
  <dict>
    <key>uniE7AD</key>
    <integer>-570</integer>
  </dict>
  <key>uniE7AD</key>
  <dict>
    <key>uniE7AC</key>
    <integer>-352</integer>
  </dict>
  <key>uniE7AE</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-350</integer>
    <key>uniE7EA</key>
    <integer>-305</integer>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE7AF</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE7B0</key>
  <dict>
    <key>uniE7B1</key>
    <integer>-477</integer>
  </dict>
  <key>uniE7B1</key>
  <dict>
    <key>uniE7B0</key>
    <integer>-304</integer>
  </dict>
  <key>uniE7B3</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-350</integer>
    <key>uniE7EA</key>
    <integer>-310</integer>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE7B4</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE7B5</key>
  <dict>
    <key>uniE7B6</key>
    <integer>-531</integer>
  </dict>
  <key>uniE7B6</key>
  <dict>
    <key>uniE7B5</key>
    <integer>-351</integer>
  </dict>
  <key>uniE7B7</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-350</integer>
    <key>uniE7EA</key>
    <integer>-310</integer>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE7B8</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE7B9</key>
  <dict>
    <key>uniE7BA</key>
    <integer>-532</integer>
  </dict>
  <key>uniE7BA</key>
  <dict>
    <key>uniE7B9</key>
    <integer>-352</integer>
  </dict>
  <key>uniE7BB</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-360</integer>
    <key>uniE7EA</key>
    <integer>-318</integer>
    <key>uniE7EB</key>
    <integer>-320</integer>
  </dict>
  <key>uniE7BC</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-320</integer>
  </dict>
  <key>uniE7BD</key>
  <dict>
    <key>uniE7BE</key>
    <integer>-750</integer>
  </dict>
  <key>uniE7BE</key>
  <dict>
    <key>uniE7BD</key>
    <integer>-250</integer>
  </dict>
  <key>uniE7BF</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-360</integer>
    <key>uniE7EA</key>
    <integer>-320</integer>
    <key>uniE7EB</key>
    <integer>-320</integer>
  </dict>
  <key>uniE7C0</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-320</integer>
  </dict>
  <key>uniE7C1</key>
  <dict>
    <key>uniE7C2</key>
    <integer>-750</integer>
  </dict>
  <key>uniE7C2</key>
  <dict>
    <key>uniE7C1</key>
    <integer>-250</integer>
  </dict>
  <key>uniE7C3</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-360</integer>
    <key>uniE7EA</key>
    <integer>-320</integer>
    <key>uniE7EB</key>
    <integer>-320</integer>
  </dict>
  <key>uniE7C4</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-320</integer>
  </dict>
  <key>uniE7C5</key>
  <dict>
    <key>uniE7C6</key>
    <integer>-750</integer>
  </dict>
  <key>uniE7C6</key>
  <dict>
    <key>uniE7C5</key>
    <integer>-257</integer>
  </dict>
  <key>uniE7C7</key>
  <dict>
    <key>uniE7E9</key>
    <integer>-340</integer>
    <key>uniE7EA</key>
    <integer>-308</integer>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE7C8</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-300</integer>
  </dict>
  <key>uniE7C9</key>
  <dict>
    <key>uniE7CA</key>
    <integer>-532</integer>
  </dict>
  <key>uniE7CA</key>
  <dict>
    <key>uniE7C9</key>
    <integer>-352</integer>
  </dict>
  <key>uniE7D1</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-260</integer>
  </dict>
  <key>uniE7D2</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-260</integer>
  </dict>
  <key>uniE7D3</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-260</integer>
  </dict>
  <key>uniE7D4</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-260</integer>
  </dict>
  <key>uniE7DE</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-230</integer>
  </dict>
  <key>uniE7E2</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-330</integer>
  </dict>
  <key>uniE7E8</key>
  <dict>
    <key>uniE7EB</key>
    <integer>-220</integer>
  </dict>
  <key>uniEAA1</key>
  <dict>
    <key>uniEAA0</key>
    <integer>-8</integer>
  </dict>
  <key>uniEAA6</key>
  <dict>
    <key>uniEAA5</key>
    <integer>7</integer>
    <key>uniEAA7</key>
    <integer>12</integer>
  </dict>
  <key>uniEAA7</key>
  <dict>
    <key>uniEAA8</key>
    <integer>-12</integer>
  </dict>
  <key>uniEAA8</key>
  <dict>
    <key>uniEAA7</key>
    <integer>15</integer>
  </dict>
  <key>uniF5AD</key>
  <dict>
    <key>uniF5AC</key>
    <integer>-430</integer>
    <key>uniF5AE</key>
    <integer>-383</integer>
    <key>uniF5B0</key>
    <integer>-414</integer>
    <key>uniF5B2</key>
    <integer>-398</integer>
    <key>uniF5B4</key>
    <integer>-438</integer>
    <key>uniF5B6</key>
    <integer>-383</integer>
    <key>uniF5B8</key>
    <integer>-414</integer>
    <key>uniF5BA</key>
    <integer>-406</integer>
    <key>uniF5BC</key>
    <integer>-398</integer>
    <key>uniF5BE</key>
    <integer>-406</integer>
  </dict>
  <key>uniF5AF</key>
  <dict>
    <key>uniF5AC</key>
    <integer>-344</integer>
    <key>uniF5AE</key>
    <integer>-297</integer>
    <key>uniF5B0</key>
    <integer>-344</integer>
    <key>uniF5B2</key>
    <integer>-313</integer>
    <key>uniF5B4</key>
    <integer>-360</integer>
    <key>uniF5B6</key>
    <integer>-297</integer>
    <key>uniF5B8</key>
    <integer>-328</integer>
    <key>uniF5BA</key>
    <integer>-320</integer>
    <key>uniF5BC</key>
    <integer>-312</integer>
    <key>uniF5BE</key>
    <integer>-320</integer>
  </dict>
  <key>uniF5B1</key>
  <dict>
    <key>uniF5AC</key>
    <integer>-422</integer>
    <key>uniF5AE</key>
    <integer>-367</integer>
    <key>uniF5B0</key>
    <integer>-414</integer>
    <key>uniF5B2</key>
    <integer>-390</integer>
    <key>uniF5B4</key>
    <integer>-429</integer>
    <key>uniF5B6</key>
    <integer>-375</integer>
    <key>uniF5B8</key>
    <integer>-399</integer>
    <key>uniF5BA</key>
    <integer>-399</integer>
    <key>uniF5BC</key>
    <integer>-390</integer>
    <key>uniF5BE</key>
    <integer>-406</integer>
  </dict>
  <key>uniF5B3</key>
  <dict>
    <key>uniF5AC</key>
    <integer>-414</integer>
    <key>uniF5AE</key>
    <integer>-367</integer>
    <key>uniF5B0</key>
    <integer>-398</integer>
    <key>uniF5B2</key>
    <integer>-383</integer>
    <key>uniF5B4</key>
    <integer>-422</integer>
    <key>uniF5B6</key>
    <integer>-352</integer>
    <key>uniF5B8</key>
    <integer>-391</integer>
    <key>uniF5BA</key>
    <integer>-383</integer>
    <key>uniF5BC</key>
    <integer>-375</integer>
    <key>uniF5BE</key>
    <integer>-383</integer>
  </dict>
  <key>uniF5B5</key>
  <dict>
    <key>uniF5AC</key>
    <integer>-407</integer>
    <key>uniF5AE</key>
    <integer>-360</integer>
    <key>uniF5B0</key>
    <integer>-414</integer>
    <key>uniF5B2</key>
    <integer>-398</integer>
    <key>uniF5B4</key>
    <integer>-391</integer>
    <key>uniF5B6</key>
    <integer>-357</integer>
    <key>uniF5B8</key>
    <integer>-390</integer>
    <key>uniF5BA</key>
    <integer>-391</integer>
    <key>uniF5BC</key>
    <integer>-383</integer>
    <key>uniF5BE</key>
    <integer>-375</integer>
  </dict>
  <key>uniF5B7</key>
  <dict>
    <key>uniF5AC</key>
    <integer>-391</integer>
    <key>uniF5AE</key>
    <integer>-344</integer>
    <key>uniF5B0</key>
    <integer>-383</integer>
    <key>uniF5B2</key>
    <integer>-367</integer>
    <key>uniF5B4</key>
    <integer>-406</integer>
    <key>uniF5B6</key>
    <integer>-360</integer>
    <key>uniF5B8</key>
    <integer>-383</integer>
    <key>uniF5BA</key>
    <integer>-368</integer>
    <key>uniF5BC</key>
    <integer>-367</integer>
    <key>uniF5BE</key>
    <integer>-359</integer>
  </dict>
  <key>uniF5B9</key>
  <dict>
    <key>uniF5AC</key>
    <integer>-407</integer>
    <key>uniF5AE</key>
    <integer>-360</integer>
    <key>uniF5B0</key>
    <integer>-383</integer>
    <key>uniF5B2</key>
    <integer>-367</integer>
    <key>uniF5B4</key>
    <integer>-406</integer>
    <key>uniF5B6</key>
    <integer>-344</integer>
    <key>uniF5B8</key>
    <integer>-383</integer>
    <key>uniF5BA</key>
    <integer>-375</integer>
    <key>uniF5BC</key>
    <integer>-375</integer>
    <key>uniF5BE</key>
    <integer>-383</integer>
  </dict>
  <key>uniF5BB</key>
  <dict>
    <key>uniF5AC</key>
    <integer>-414</integer>
    <key>uniF5AE</key>
    <integer>-375</integer>
    <key>uniF5B0</key>
    <integer>-422</integer>
    <key>uniF5B2</key>
    <integer>-399</integer>
    <key>uniF5B4</key>
    <integer>-438</integer>
    <key>uniF5B6</key>
    <integer>-375</integer>
    <key>uniF5B8</key>
    <integer>-398</integer>
    <key>uniF5BA</key>
    <integer>-399</integer>
    <key>uniF5BC</key>
    <integer>-383</integer>
    <key>uniF5BE</key>
    <integer>-391</integer>
  </dict>
  <key>uniF5BD</key>
  <dict>
    <key>uniF5AC</key>
    <integer>-414</integer>
    <key>uniF5AE</key>
    <integer>-367</integer>
    <key>uniF5B0</key>
    <integer>-406</integer>
    <key>uniF5B2</key>
    <integer>-375</integer>
    <key>uniF5B4</key>
    <integer>-430</integer>
    <key>uniF5B6</key>
    <integer>-367</integer>
    <key>uniF5B8</key>
    <integer>-399</integer>
    <key>uniF5BA</key>
    <integer>-390</integer>
    <key>uniF5BC</key>
    <integer>-382</integer>
    <key>uniF5BE</key>
    <integer>-391</integer>
  </dict>
  <key>uniF5BF</key>
  <dict>
    <key>uniF5AC</key>
    <integer>-414</integer>
    <key>uniF5AE</key>
    <integer>-360</integer>
    <key>uniF5B0</key>
    <integer>-407</integer>
    <key>uniF5B2</key>
    <integer>-375</integer>
    <key>uniF5B4</key>
    <integer>-414</integer>
    <key>uniF5B6</key>
    <integer>-359</integer>
    <key>uniF5B8</key>
    <integer>-390</integer>
    <key>uniF5BA</key>
    <integer>-391</integer>
    <key>uniF5BC</key>
    <integer>-383</integer>
    <key>uniF5BE</key>
    <integer>-383</integer>
  </dict>
  <key>uniF5C9</key>
  <dict>
    <key>uniE2B2</key>
    <integer>-20</integer>
  </dict>
  <key>uniF5D3</key>
  <dict>
    <key>uniE2B2</key>
    <integer>-20</integer>
  </dict>
  <key>uniF5D4</key>
  <dict>
    <key>uniE2B2</key>
    <integer>-20</integer>
  </dict>
  <key>uniF5D5</key>
  <dict>
    <key>uniE2B2</key>
    <integer>-20</integer>
  </dict>
  <key>uniF5D6</key>
  <dict>
    <key>uniE2B2</key>
    <integer>-20</integer>
  </dict>
</dict>
</plist>
